<%= simple_form_for(@proponent) do |f| %>
  <% if @proponent.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Erro ao salvar o proponente</h4>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= f.input :name, required: true, input_html: { class: 'form-control' } %>
    </div>

    <div class="col-md-2">
      <%= f.input :birthdate, as: :string,
                  input_html: { value: f.object.decorate.birthdate, class: 'form-control' } %>
    </div>

    <div class="col-md-2">
      <%= f.input :phone, required: true, 
            input_html: { class: 'form-control' } %>
    </div>

    <div class="col-md-2">
      <%= f.input :salary, as: :string, required: true, input_html: { value: f.object.decorate.salary_without_unit, class: 'form-control' } %>
    </div>

    <div class="col-md-2">
      <%= f.input :inss, as: :string, readonly: true, input_html: { value: f.object.decorate.inss_without_unit, class: 'form-control' } %>
    </div>
  </div>

  <fieldset>
    <legend><%= t('activerecord.models.address.one') %></legend>

    <%= f.fields_for :address do |a| %>
      <div class="row">
        <div class="col-md-2">
          <%= a.input :zip_code, required: true, input_html: { class: 'form-control' } %>
        </div>

        <div class="col-md-4">
          <%= a.input :street, readonly: true, input_html: { class: 'form-control' } %>
        </div>

        <div class="col-md-2">
          <%= a.input :number, required: true, input_html: { class: 'form-control' } %>
        </div>

        <div class="col-md-4">
          <%= a.input :complement, input_html: { class: 'form-control' } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= a.input :neighborhood, readonly: true, input_html: { class: 'form-control' } %>
        </div>

        <div class="col-md-2">
          <%= a.input :city, readonly: true, input_html: { class: 'form-control' } %>
        </div>

        <div class="col-md-2">
          <%= a.input :state, readonly: true, input_html: { class: 'form-control' } %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <%= submit_button f %>
<% end %>
