<%= title_form('.title') %>

<canvas class='line-chart'></canvas>

<br>
<div id="reports-proponent-salary">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.report.proponents') %></th>
        <th><%= t('activerecord.attributes.report.salary_range') %></th>
      </tr>
    </thead>
    <tbody>
      <% @salary_groups.each do |group| %>
        <tr>
          <td><%= group[:count] %></td>
          <td><%= group[:label] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var ctx = document.querySelector('.line-chart');

  var labels = <%= raw @salary_groups.pluck(:label).to_json %>;
  var datas = <%= raw @salary_groups.pluck(:count).to_json %>;

  var chartGraph = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Proponentes por Faixa Salarial',
        data: datas
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
