<%= title_form('.title') %>

<div id="reports-proponent-salary">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.report.proponents') %></th>
        <th><%= t('activerecord.attributes.report.salary_range') %></th>
      </tr>
    </thead>
    <tbody>
      <% @salary_groups.each do |group| %>
        <tr>
          <td><%= group[:count] %></td>
          <td><%= group[:label] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
